<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Style -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&family=Shrikhand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/bdc3cb79cd.js" crossorigin="anonymous"></script>

    <!-- Meta -->
    <title>La note enchantée – Commander</title>
    <meta name="description" content='Composez votre menu au restaurant "La note enchantée" et commandez en ligne pour réduire votre temps d&#39;attente'>
    
    <!-- Twitter card data -->
    <meta property="twitter:card" content="summary">

    <!-- Open Graph data -->
    <meta property="og:title" content="La note enchantée – Commander"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://bmelicque.github.io/BastienMelicque_3_14082021/restaurants/la_note_enchantee.html"/>
    <meta property="og:image" content="http://bmelicque.github.io/BastienMelicque_3_14082021/media/la_note_enchantee--full.jpg"/>
    <meta property="og:description" content='Composez votre menu au restaurant "La note enchantée" et commandez en ligne pour réduire votre temps d&#39;attente'/>
</head>
<body>
    <header class="header">
        <a href="../index.html" class="header__link">
            <i class="fas fa-arrow-left"></i>
        </a>
        <h1 class="header__logo">ohmyfood</h1>
    </header>
    <main class="main main--menu">
        <img src="../media/la_note_enchantee--full.jpg" alt="Bienvenue à La note enchantée !" class="banner">
        <article class="section section--menu">
            <div class="section__title">
                <h2 class="section__title--menu">
                    La note enchantée
                </h2>
                <div class="section__like heart">
                    <i class="far fa-heart"></i>
                    <i class="fas fa-heart"></i>
                </div>
            </div>
            <section class="menu">
                <h3 class="menu__title">Entrées</h3>
                <ul class="menu__list">
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Ravioles de foie gras</h4>
                                    <p class="item__description">Accompagnées de leur crème à la truffe</p>
                                </div>
                                <div class="item__price">25€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Caviar osciètre</h4>
                                    <p class="item__description">Sur blini à la farine de blé noir</p>
                                </div>
                                <div class="item__price">35€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Homard et espuma de potiron</h4>
                                    <p class="item__description">Mariné aux zests d'orange</p>
                                </div>
                                <div class="item__price">20€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Foie gras de canard cuit entier</h4>
                                    <p class="item__description">Confiture de figues et pain toasté</p>
                                </div>
                                <div class="item__price">35€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="menu">
                <h3 class="menu__title">Plats</h3>
                <ul class="menu__list">
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Noix de coquilles Saint-Jacques</h4>
                                    <p class="item__description">Sur lit de purée de céleri rave</p>
                                </div>
                                <div class="item__price">40€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Langoustine poêlée</h4>
                                    <p class="item__description">Purée de patate douce</p>
                                </div>
                                <div class="item__price">35€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Mijoté de queue de bœuf</h4>
                                    <p class="item__description">Et riz sauvage aux zests de citron</p>
                                </div>
                                <div class="item__price">44€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="menu">
                <h3 class="menu__title">Desserts</h3>
                <ul class="menu__list">
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Macaron noisette et chocolat</h4>
                                    <p class="item__description">Glace au caramel brun et sel de Guérande</p>
                                </div>
                                <div class="item__price">18€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Baba au rhum revisité</h4>
                                    <p class="item__description">Avec son coulis de citron</p>
                                </div>
                                <div class="item__price">22€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Tarte au citron meringuée</h4>
                                    <p class="item__description">Destructurée</p>
                                </div>
                                <div class="item__price">23€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <button type="submit" class="submit submit--menu">Commander</button>
        </article>
    </main>
    <footer class="footer">
        <h2 class="footer__title">ohmyfood</h2>
        <ul class="footer__nav">
            <li>
                <a href="#" class="footer__link">
                    <i class="fas fa-utensils"></i>
                    Proposez un restaurant
                </a>
            </li>
            <li>
                <a href="#" class="footer__link">
                    <i class="fas fa-hands-helping"></i>
                    Devenir partenaire
                </a>
            </li>
            <li>
                <a href="#" class="footer__link">Mentions légales</a>
            </li>
            <li>
                <a href="#" class="footer__link">Contact</a>
            </li>
        </ul>
    </footer>
</body>