<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Style -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&family=Shrikhand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/bdc3cb79cd.js" crossorigin="anonymous"></script>

    <!-- Meta -->
    <title>La palette du goût – Commander</title>
    <meta name="description" content='Composez votre menu au restaurant "La palette du goût" et commandez en ligne pour réduire votre temps d&#39;attente'>
    
    <!-- Twitter card data -->
    <meta property="twitter:card" content="summary">

    <!-- Open Graph data -->
    <meta property="og:title" content="La palette du goût – Commander"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://bmelicque.github.io/BastienMelicque_3_14082021/restaurants/la_palette_du_gout.html"/>
    <meta property="og:image" content="http://bmelicque.github.io/BastienMelicque_3_14082021/media/la_palette_du_gout--full.jpg"/>
    <meta property="og:description" content='Composez votre menu au restaurant "La palette du goût" et commandez en ligne pour réduire votre temps d&#39;attente'/>
</head>
<body>
    <header class="header">
        <a href="../index.html" class="header__link">
            <i class="fas fa-arrow-left"></i>
        </a>
        <h1 class="header__logo">ohmyfood</h1>
    </header>
    <main class="main main--menu">
        <img src="../media/la_palette_du_gout--full.jpg" alt="Bienvenue à La palette du goût !" class="banner">
        <article class="section section--menu">
            <div class="section__title">
                <h2 class="section__title--menu">
                    La palette du goût
                </h2>
                <div class="section__like heart">
                    <i class="far fa-heart"></i>
                    <i class="fas fa-heart"></i>
                </div>
            </div>
            <section class="menu">
                <h3 class="menu__title">Entrées</h3>
                <ul class="menu__list">
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Fricassée d'escargot</h4>
                                    <p class="item__description">Au piment d'espelette</p>
                                </div>
                                <div class="item__price">25€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Foie gras de canard mi-cuit</h4>
                                    <p class="item__description">Et ses copeaux de truffe noire</p>
                                </div>
                                <div class="item__price">35€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Œuf au plat</h4>
                                    <p class="item__description">Assaisonné à la truffe sur lit de caviar</p>
                                </div>
                                <div class="item__price">20€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="menu">
                <h3 class="menu__title">Plats</h3>
                <ul class="menu__list">
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Filet de bœuf aux herbes</h4>
                                    <p class="item__description">Accompagné de sa ribambelle de légumes</p>
                                </div>
                                <div class="item__price">40€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Parmentier de queue de bœuf</h4>
                                    <p class="item__description">À la truffe noire sur sa purée de panais</p>
                                </div>
                                <div class="item__price">35€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Filet de turbot</h4>
                                    <p class="item__description">Aux agrumes</p>
                                </div>
                                <div class="item__price">44€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="menu">
                <h3 class="menu__title">Desserts</h3>
                <ul class="menu__list">
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Paris-Brest</h4>
                                    <p class="item__description">Revisité</p>
                                </div>
                                <div class="item__price">18€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Macaron au chocolat d'exception</h4>
                                    <p class="item__description">Et glace à la vanille de Madagascar</p>
                                </div>
                                <div class="item__price">22€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Mousse au chocolat</h4>
                                    <p class="item__description">Au piment d'espelette et à la truffe noire</p>
                                </div>
                                <div class="item__price">23€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <button type="submit" class="submit submit--menu">Commander</button>
        </article>
    </main>
    <footer class="footer">
        <h2 class="footer__title">ohmyfood</h2>
        <ul class="footer__nav">
            <li>
                <a href="#" class="footer__link">
                    <i class="fas fa-utensils"></i>
                    Proposez un restaurant
                </a>
            </li>
            <li>
                <a href="#" class="footer__link">
                    <i class="fas fa-hands-helping"></i>
                    Devenir partenaire
                </a>
            </li>
            <li>
                <a href="#" class="footer__link">Mentions légales</a>
            </li>
            <li>
                <a href="#" class="footer__link">Contact</a>
            </li>
        </ul>
    </footer>
</body>