<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Style -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&family=Shrikhand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/bdc3cb79cd.js" crossorigin="anonymous"></script>

    <!-- Meta -->
    <title>Le délice des sens – Commander</title>
    <meta name="description" content='Composez votre menu au restaurant "Le délice des sens" et commandez en ligne pour réduire votre temps d&#39;attente'>
    
    <!-- Twitter card data -->
    <meta property="twitter:card" content="summary">

    <!-- Open Graph data -->
    <meta property="og:title" content="Le délice des sens – Commander"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://bmelicque.github.io/BastienMelicque_3_14082021/restaurants/le_delice_des_sens.html"/>
    <meta property="og:image" content="http://bmelicque.github.io/BastienMelicque_3_14082021/media/le_delice_des_sens--full.jpg"/>
    <meta property="og:description" content='Composez votre menu au restaurant "Le délice des sens" et commandez en ligne pour réduire votre temps d&#39;attente'/>
</head>
<body>
    <header class="header">
        <a href="../index.html" class="header__link">
            <i class="fas fa-arrow-left"></i>
        </a>
        <h1 class="header__logo">ohmyfood</h1>
    </header>
    <main class="main main--menu">
        <img src="../media/le_delice_des_sens--full.jpg" alt="Bienvenue à Le délice des sens !" class="banner">
        <article class="section section--menu">
            <div class="section__title">
                <h2 class="section__title--menu">
                    Le délice des sens
                </h2>
                <div class="section__like heart">
                    <i class="far fa-heart"></i>
                    <i class="fas fa-heart"></i>
                </div>
            </div>
            <section class="menu">
                <h3 class="menu__title">Entrées</h3>
                <ul class="menu__list">
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Tartare de thon</h4>
                                    <p class="item__description">Assaisonné au yuzu</p>
                                </div>
                                <div class="item__price">25€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Bouchée de homard croustillant</h4>
                                    <p class="item__description">Et sa farandole de petits légumes</p>
                                </div>
                                <div class="item__price">35€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Velouté de cèpes</h4>
                                    <p class="item__description">Aux truffes</p>
                                </div>
                                <div class="item__price">20€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="menu">
                <h3 class="menu__title">Plats</h3>
                <ul class="menu__list">
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Poulet rôti aux herbes de provence</h4>
                                    <p class="item__description">Et sa crème de truffe</p>
                                </div>
                                <div class="item__price">40€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Langouste rôtie</h4>
                                    <p class="item__description">Et ses légumes de saison</p>
                                </div>
                                <div class="item__price">35€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Côte de bœuf angus</h4>
                                    <p class="item__description">Et sa purée de panais</p>
                                </div>
                                <div class="item__price">44€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="menu">
                <h3 class="menu__title">Desserts</h3>
                <ul class="menu__list">
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Farandole de desserts</h4>
                                    <p class="item__description">Du chef</p>
                                </div>
                                <div class="item__price">18€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Crème brûlée</h4>
                                    <p class="item__description">Revisitée</p>
                                </div>
                                <div class="item__price">22€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item__content">
                                <div class="item__text">
                                    <h4 class="item__name">Tiramisu</h4>
                                    <p class="item__description">À la noisette</p>
                                </div>
                                <div class="item__price">23€</div>
                            </div>
                            <div class="item__check">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <button type="submit" class="submit submit--menu">Commander</button>
        </article>
    </main>
    <footer class="footer">
        <h2 class="footer__title">ohmyfood</h2>
        <ul class="footer__nav">
            <li>
                <a href="#" class="footer__link">
                    <i class="fas fa-utensils"></i>
                    Proposez un restaurant
                </a>
            </li>
            <li>
                <a href="#" class="footer__link">
                    <i class="fas fa-hands-helping"></i>
                    Devenir partenaire
                </a>
            </li>
            <li>
                <a href="#" class="footer__link">Mentions légales</a>
            </li>
            <li>
                <a href="#" class="footer__link">Contact</a>
            </li>
        </ul>
    </footer>
</body>