.card {
    @include flex-col;
    @include btn;
    position: relative;
    height: 15rem;
    transform: scale(1);
    transition: .2s;

    @include md {
        flex: 1 33%;
    }

    @include xl {
        flex: 1 17%;
    }

    &:hover {
        box-shadow: 0 3px 10px 6px darken($color-bg, 10%);
        transform: scale(1.01);
    }

    &__img {
        width: 100%;
        object-fit: cover;
        flex: 1 1 10rem;
        min-height: 0;
    }

    &__content {
        @include flex-col;
        position: relative;
        flex: 1 0;
        justify-content: space-between;
        margin: .5rem .7rem .3rem;
        line-height: 1.5rem;
        font-size: .9em;
    }
    &__like {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
    &--new {
        &::after {
            content: 'Nouveau';
            position: absolute;
            @include position(1, 1rem, 1rem, auto, auto);
            border-radius: 3px;
            padding: .5rem;
            background: $color-tertiary;
            color: darken($color-tertiary, 40%);
            font-size: .8rem;
            font-weight: 700;
        }
    }
}