* {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
}

html {
    overflow: auto;
}

body {
    @include flex-col;
    width: 100%;
    max-width: 767px;
    margin: auto;
    overflow-x: hidden;
}

// Pour que le site reste lisible en attendant de travailler sur les cartes
img {
    width: 100%;
}