* {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
}

html {
    overflow: auto;
}

body {
    @include flex-col;
    width: 100%;
    overflow-x: hidden;
}

main, footer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}