@mixin font-title {
    font-family: 'Shrikhand', cursive;
}

@mixin flex-row($justify: false, $align: center) {
    display: flex;
    flex-direction: row;
    @if $align != stretch {
        align-items: $align;
    }
    @if $justify {
        justify-content: $justify;
    }
}

@mixin flex-col($align: false) {
    display: flex;
    flex-direction: column;
    @if $align {
        align-items: $align;
    }
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin pseudo-over {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin position($z: 0, $a: false, $b: false, $c: false, $d: false) {
    z-index: $z;
    @if($a){
        top: $a;
        @if ($b) {
            right: $b;
            @if ($c) {
                bottom: $c;
                @if ($d) {
                    left: $d;
                }
                @else {
                    left: $b;
                }
            }
            @else {
                bottom: $a;
                left: $b;
            }
        }
        @else {
            right: $a;
            bottom: $a;
            left: $a;
        }
    }
    @else {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

@mixin bg-clip($bg: $gradient) {
    background: $bg;
    background-clip: content-box;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}

@mixin btn {
    border-radius: 1rem;
    box-shadow: 0 3px 5px 3px darken($color-bg, 5%);
    background: white;
    overflow: hidden;
    width: 100%;
}