$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg: #F6F6F6;
$color-dark: #353535;

$gradient: linear-gradient($color-secondary, $color-primary);

// Hauteur des éléments de listes dans la zone "Fonctionnement"
$step-h: 4.5rem;
$bullet-h: 1.5rem;