.header {
    @include flex-row(center);
    position: relative;
    z-index: 1;
    height: 4rem;
    box-shadow: 0 0 4px black;

    &__logo {
        @include font-title;
    }

    &__link {
        position: absolute;
        @include position(1, 50%, auto, auto, 2rem);
        transform: translateY(-50%);
        font-size: 1.5rem;
        color: $color-dark;
    }
}