.section {
    position: relative;
    @include flex-col;
    padding: 2rem 1.25rem;
    gap: 1.25rem;

    &--bg {
        background: $color-bg;
    }

    &--menu {
        border-radius: 2rem;
        position: relative;
        top: -2rem;
    }

    &__title {
        @include flex-row(space-between);
        &--menu {
            @include font-title;
            font-size: 1.8rem;
        }
    }

    &__like {
        position: relative;
        right: .75rem;
    }

    ol {
        @include flex-col;
        gap: 1.5rem;
    }
}