.section {
    padding: 3rem 1.25rem;
    &--bg {
        background: $color-bg;
    }
    &__title {
        margin-bottom: 1rem;
    }
    ol {
        @include flex-col;
        gap: 1.5rem;
    }
}