.section {
    position: relative;
    @include flex-col;
    padding: 2rem 1.25rem;
    gap: 1.25rem;

    &--bg {
        @include extended-bg($color-bg);
        @include md {
            flex-flow: row wrap;
        }
    }

    &--menu {
        background: $color-bg;
        border-radius: 2rem 2rem 0 0;
        margin-top: -2rem;

        @include lg {
            flex-flow: row wrap;
            justify-content: space-around;
        }

        @include xl {
            @include extended-bg($color-bg);
            margin-top: 0;
            border-radius: 0;
        }
    }

    &__title {
        @include flex-row(space-between);
        width: 100%;
        &--menu {
            @include font-title;
            font-size: 1.8rem;
        }
    }

    &__like {
        position: relative;
        right: .75rem;
    }

    ol {
        @include flex-col;
        gap: 1.5rem;

        @include lg {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}